<form action="/new" method="post">
  <label for="filename">Add a new document:</label>
  <div>
    <input type="text" name="filename" size="30" maxlength="30"/>
    <button type="submit">Create</button>
  </div>
</form>


<a href="/">Index</a>