<form action="/users/signin" method="post">
  <div>
    <label for="username">Username
      <input type="text" value="<%= user_name %>" name=username size="20" maxlength="20"/>
    </label>
  </div>
  <div>
    <label for="password">Password
      <input type="text" name="password"/>
    </label>
  </div>
    <button type="submit">Sign In</button>
</form>