<h4>Upload Photo</h4>
<form action="upload" method="post">
<div>
  <p>Select a photo to upload</p>
  <input type="file" name="photoupload"/><br />
  <input type="submit" value="Upload"/>
</div>
</form>

<div>
  <form action="/" method="get">
    <button type="submit">Cancel</button>
  </form>
</div>
