body {
  font-family: sans-serif;
  padding: 1em;
}

.success {
  background: #9CD8A7;
  padding: 10px;
}

.error {
  background: #E88CB0;
  padding: 10px;
}

form.inline {
  display: inline;
}

.user-status {
  font-style: italic;
  font-size: 0.9em;
}